<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ShowProductList</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<style>
  body {
    background: linear-gradient(rgb(14, 17, 36), rgb(36, 26, 73));
  }
</style>
<body>
  <!-- <app-root></app-root> -->
  <app-home></app-home>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html ng-app="myApp">-->
<!--<head>-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>-->
<!--  <style>-->
<!--    img { width: 100px; height: 100px; object-fit: cover; margin-right: 10px; }-->
<!--    ul { list-style-type: none; padding: 0; }-->
<!--    li { margin-bottom: 15px; display: flex; align-items: center; }-->
<!--  </style>-->
<!--</head>-->
<!--<body ng-controller="myController">-->

<!--<h2>Product List (Page {{ currentPage }} of {{ totalPages }}):</h2>-->

<!--<ul>-->
<!--  <li ng-repeat="product in products">-->
<!--    <img ng-src="{{ getImageUrl(product.thumbnail) }}" alt="{{ product.name }}">-->
<!--    <div>-->
<!--      <strong>{{ product.name }}</strong> - {{ product.price | currency }}<br>-->
<!--      Category: {{ product.category.name }}-->
<!--    </div>-->
<!--  </li>-->
<!--</ul>-->

<!--<button ng-click="previousPage()" ng-disabled="currentPage <= 1">Previous</button>-->
<!--<button ng-click="nextPage()" ng-disabled="currentPage >= totalPages">Next</button>-->

<!--<script src="app.js"></script>-->
<!--</body>-->
<!--</html>-->

